<h1>Client Portfolios:</h1>

<ul>
<% @client.portfolios.each do |p| %>
  <li><%= link_to "#{p.name},  position: #{@client.position(p)}", p %></li>
<% end %>
</ul>

<h2>Total PnL is <%= number_to_currency(@client.total_pnl) %></h2>

<h2>Cash Balance is <%= number_to_currency(@client.cash_balance) %></h2>

<%= link_to "New Trade", new_client_trade_path %>